@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass-effect {
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* Adjust the alpha value for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur value for the glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}
.bg-glass-effect2 {
  background: rgba(
    255,
    255,
    255,
    0.046
  ); /* Adjust the alpha value for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur value for the glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.bg-glass-effect2:hover {
  transform: scale(1.03);
}

.glow {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 1);
}

.test {
  transition: opacity 0.5s 0.5s, filter 0.5s;
  filter: blur(45px);
}

.glow-container {
  position: relative;
  display: inline-block; /* Make sure the container fits the content */
}

.glow-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(45px);
  opacity: 0;
  transition: opacity 0.5s 0.5s, filter 0.5s;
  z-index: -1;
}

.glow-container:hover::before {
  opacity: 1;
  filter: blur(45px);
}
